@import "./../../styles/colors";
@import "./../../styles/mixins";

.pagination {
  display: flex;

  &__next-btn,
  &__prev-btn {
    background-color: transparent;
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    @include media($small) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    list-style-type: none;
    @include media($small) {
      margin-left: 1rem;
      flex-wrap: wrap;
    }

    &-btn {
      padding: 0.5rem 1rem;
      margin-right: 10px;
      border-radius: 5px;
      cursor: pointer;
      @include media($small) {
        margin-top: 5px;
      }
    }
  }
}

#light {
  .pagination__nav-btn {
    border: 1px solid $light_card_border;
    color: $light_font;

    &:hover {
      border: 1px solid $bright_blue_border;
      color: $blue_border;
      background-color: $bright_blue_bg;
    }

    &.active {
      border: 1px solid $bright_blue_border;
      color: $blue_border;
      background-color: $bright_blue_bg;
    }
  }

  .pagination__prev-btn,
  .pagination__next-btn {
    border: 1px solid $light_card_border;
    color: $light_font;

    &:hover {
      border: 1px solid $bright_blue_border;
      color: $blue_border;
      background-color: $bright_blue_bg;
    }
  }
}

#dark {
  .pagination__nav-btn,
  .pagination__prev-btn,
  .pagination__next-btn {
    border: 1px solid $light_card_border;
    color: $light_font_bright;

    &:hover {
      border: 1px solid $blue_border;
      color: $blue_border;
      background-color: $blue_bg;
    }

    &.active {
      border: 1px solid $blue_border;
      color: $blue_border;
      background-color: $blue_bg;
    }
  }

  .pagination__prev-btn,
  .pagination__next-btn {
    border: 1px solid $light_card_border;
    color: $light_font_bright;

    &:hover {
      border: 1px solid $blue_border;
      color: $blue_border;
      background-color: $blue_bg;
    }
  }
}
