@import "./../../styles/colors";

.card {
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
}

.light {
  &.card__bg-color {
    background-color: $light_card;
    border: 1px solid $light_card_border;
    color: $light_font;
  }
}

.dark {
  &.card__bg-color {
    background-color: $dark_card;
    border: 1px solid $dark_card_border;
    color: $dark_font_bright;
  }
}
