$light_primary: #ffffff;
$light_card: #f6f8fa;
$light_card_border: #d0d7de;
$light_font: #4b4b4c;
$light_font_bright: #fffbf5;
$light_navbar: #38414b;

$dark_primary: #0d1117;
$dark_card: #161b22;
$dark_card_border: #22282e;
$dark_font: #bfd0d0;
$dark_font_bright: #fffbf5;
$dark_navbar: #161b22;