* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

button {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}


