@import "./../../styles/colors.scss";
@import "./../../styles/mixins.scss";

.navbar {
  @include center;
  justify-content: space-between;
  padding: 30px 5%;
  color: $light_font_bright;

  &__tag {
    @include center;
    font-size: 2rem;
    font-weight: bold;

    &-icon {
      margin-right: 15px;
      transform: scale(1.3);
    }
  }

  &__toggle-icon {
    scale: 0.7;
  }
}

// react toggle css configure

.react-toggle-track-check,
.react-toggle-track-x {
  @include center;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: white !important;
}
.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  box-shadow: unset !important;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $dark_navbar !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $light_navbar !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: $light_navbar !important;
}

.react-toggle-track {
  background-color: $dark_navbar !important;
}

// theme config

#light {
  .navbar {
    background-color: $light_navbar;
  }
}

#dark {
  .navbar {
    background-color: $dark_navbar;
  }
}
